/* Products.css */

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .producto-imagen {
    width: 80%; /* La imagen ocupará todo el ancho de su contenedor */
    height: 200px; /* Puedes ajustar esta altura a tu preferencia */
    object-fit: contain; /* La imagen se recorta para mantener su relación de aspecto */
  }
  
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  
/* Asegúrate de que las reglas se apliquen correctamente */
.card .btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.card .btn-primary:hover {
  background-color: #218838;
  border-color: #218838;
}
.product-title {
  color: #035324; /* Cambia este valor por el color que desees */
}
