/* Estilos para el componente Services */
.services-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.section-description {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.service-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 30%;
  transition: all 0.3s ease;
  background-size: cover; /* Hace que la imagen cubra el fondo */
  background-position: center; /* Centra la imagen */
  height: 300px; /* Altura fija para que las imágenes se adapten bien */
  position: relative;
  color: white; /* Asegura que el texto sea blanco */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el texto */
  align-items: center; /* Centra horizontalmente el texto */
}

.service-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Superposición oscura */
  border-radius: 10px;
  z-index: 1;
}

.service-title, .service-description {
  position: relative; /* Asegura que el texto se muestre sobre el overlay */
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center; /* Asegura que el texto esté centrado horizontalmente */
}

.service-title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.service-description {
  font-size: 16px;
  color: #ffffff;
}
